<h4>Linha: <%= @line.name %></h4>

<div class="fixed-action-btn">
  <%= link_to edit_line_path(@line), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">create</i>
  <% end %>
  <%= link_to @line, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to lines_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>


<h5>Produtos desta linha:</h5>
<% @line.products.each do |product| %>
  <%= link_to product.name.upcase, product, class: "waves-effect waves-light" %> 
  (Peso mínimo: <%= product.peso_minimo %>g | Peso máximo: <%= product.peso_maximo %>g | Peso líquido: <%= product.peso_liquido %>g)
    <%= line_chart [ 
      {name: "Peso amostragem", data: Product.joins(:samplings).where(id: product).group_by_day(:data, format: "%d/%m/%Y", series: false).maximum(:peso)},
      {name: "Peso máximo", data: Product.joins(:samplings).where(id: product).group_by_day(:data, format: "%d/%m/%Y", series: false).maximum(:peso_maximo)},
      {name: "Peso mínimo", data: Product.joins(:samplings).where(id: product).group_by_day(:data, format: "%d/%m/%Y", series: false).maximum(:peso_minimo)}
      ], xtitle: "Data", ytitle: "Peso", min: nil, download: true %>
  <hr>
<% end %>