
<%= simple_form_for(@sampling) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%# f.association :product, label: "Produto" %>
    <%= f.association :product, label: "Produto", label_method: :product_label %>
    <%= f.input :data, label: "Data", input_html: { class: 'abre-calendario' } %>
    <%= f.input :lote %>
    <%= f.input :quantidade_produzida %>
    <%= f.hidden_field :peso, label: "Peso - média" %>
    <div class="card">
      <div class='card-content'>
        <span class='card-title'>Pesagens</span>
        <div id="weighings">
          <ol>
            <%= f.fields_for :weighings do |weighings_fields| %>
               <% contador = weighings_fields.options[:child_index] %>
              <%= render partial: "weighing_fields", locals: {f: weighings_fields, i: contador } %>
            <% end %>
          </ol>
          <%= link_to_add_association(f, :weighings, class: 'waves-effect waves-light btn blue') do %>
            <i class='material-icons left'>add</i> Adicionar Pesagem
          <% end %> 
        </div><!-- /#weighings -->
      </div><!-- /.card-content -->
    </div><!-- /.card -->
  </div>

  <div class="form-actions center-align">
      <%= link_to 'Cancelar', :back, :class => 'waves-effect waves-light btn' %>
      <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
        Salvar <i class="material-icons right">done</i>
      <% end %>
  </div>
<% end %>
<hr>