
<%= simple_form_for(@sampling) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :product, label: "Produto" %>
    <%= f.input :data %>
    <%= f.input :peso %>
    <%= f.input :lote %>
    <%= f.input :quantidade_produzida %>
  </div>

  <div class="form-actions right-align">
      <%= link_to 'Cancelar', :back, :class => 'waves-effect waves-light btn' %>
      <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
        Salvar <i class="material-icons right">done</i>
      <% end %>
  </div>
<% end %>
