<h4>Amostragem #<%= @sampling.id %></h4>
<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title">Amostragem</span>
      <p>
        <strong>Produto:</strong>
        <%= @sampling.product.name %>
      </p>

      <p>
        <strong>Data:</strong>
        <%= @sampling.data.strftime("%d/%m/%Y") %>
      </p>

      <p>
        <strong>Peso médio desta amostragem:</strong>
        <%= @sampling.peso %>g
      </p>
  </div>
</div>

<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title"><%= @sampling.product.name %></span>
      <p>
        <strong>Peso líquido do produto:</strong>
        <%= @sampling.product.peso_liquido %>g
      </p>

      <p>
        <strong>Lote:</strong>
        <%= @sampling.lote %>
      </p>

      <p>
        <strong>Quantidade produzida:</strong>
        <%= @sampling.quantidade_produzida %>
      </p>
  </div>
</div>

<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title">Resultados</span>
      <p>
        <strong>Diferença entre o peso líquido do produto e o peso médio da amostragem: (peso liquido - peso medio)</strong>
        <%= @diferenca %>g
      </p>
<!--
      <p>
        <strong>Diferença em valores monetários(por unidade):</strong>
        <%# number_to_currency(@diferenca_por_unidade, unit: 'R$', precision: 2, format: "%u %n") %>
      </p>
      <p>
        <strong>Diferença em valores monetários(TOTAL):</strong>
        <%# number_to_currency(@diferenca_total, unit: 'R$', precision: 2, format: "%u %n") %> <%# '(PREJUÍZO)' if @diferenca_total.negative? %>
      </p>
-->
  </div>
</div>

<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title">Pesagens</span>
      <p>
        <ol>
          <% @sampling.weighings.each do |pesagem| %>
           <li><%= pesagem.peso %></li>
          <% end %>
        </ol>
      </p>
  </div>
</div>

<div class="fixed-action-btn">
  <%= link_to edit_sampling_path(@sampling), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">create</i>
  <% end %>
  <%= link_to @sampling, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to samplings_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>