<h4>Produto #<%= @product.id %></h4>
<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Peso minimo:</strong>
  <%= @product.peso_minimo %>
</p>

<p>
  <strong>Peso maximo:</strong>
  <%= @product.peso_maximo %>
</p>

<div class="fixed-action-btn">
  <%= link_to edit_product_path(@product), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">create</i>
  <% end %>
  <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to products_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>
<% 
 grafico_maximo = @product.peso_maximo + 30
 grafico_minimo = @product.peso_minimo - 30
%>

<h4>Amostragens de <%= @product.name %></h4>
<%= line_chart [ 
  {name: "Peso amostragem", data: Product.joins(:samplings).where(id: @product).group_by_day(:data, format: "%d/%m/%Y", series: false).maximum(:peso)},
  {name: "Peso máximo", data: Product.joins(:samplings).where(id: @product).group_by_day(:data, format: "%d/%m/%Y", series: false).maximum(:peso_maximo)},
  {name: "Peso mínimo", data: Product.joins(:samplings).where(id: @product).group_by_day(:data, format: "%d/%m/%Y", series: false).maximum(:peso_minimo)}
  ], xtitle: "Data", ytitle: "Peso", min: nil, download: true %>

<h4>Histórico</h4>
<% @product.samplings.each do |sampling| %>
  <p>
  Data: <strong><%= sampling.data.strftime("%d/%m/%Y") %></strong>
  </p>
  <p>
  Peso médio da amostra: <strong><%= sampling.peso %></strong>
  </p>
  <p>
  Quantidade produzida: <strong><%= sampling.quantidade_produzida %></strong>
  </p>
  <p>
  Lote: <strong><%= sampling.lote %></strong>
  </p>  
  <hr>
<% end %>


<%# line_chart @product.samplings.group_by_day(:data, format: "%d/%m/%Y", series: false).maximum(:peso),  min: nil, max: @product.peso_maximo, xtitle: "Data", ytitle: "Peso", download: true, stacked: true %>