<!DOCTYPE html>
<html>
  <head>
    <title>Dielo - Amostragem</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dielo Prod">
    <meta name="author" content="@michielin">
    <meta name="keywords" content="Dielo, amostragem, sorvete, picole" />
    <meta name="robots" content="ALL" />
    <meta name="rating" content="General" />  

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>

  </head>

  <body>
  <nav class="red darken-3" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to root_path, id: "logo-container", class: "brand-logo logo" do %>
          <%= image_tag "dielo-logo-40.png", alt: "Dielo Prod" %>
      <% end %>
      <ul class="right hide-on-med-and-down">
        <li class="<%= active?('products')%>"><%= link_to "Produtos", products_path %></li>
        <li class="<%= active?('samplings')%>"><%= link_to "Amostragens", samplings_path %></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="<%= active?('products')%>"><%= link_to "Produtos", products_path %></li>
        <li class="<%= active?('samplings')%>"><%= link_to "Amostragens", samplings_path %></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <% flash.each do |message_type, message| %>
      <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
  <% end %>



  <section class="container">
    <%= yield %>
  </section>
  </body>
</html>
